---
import Link from "./ui/link.astro";
---

<div
  class="bg-[url('/bg.jpg')] bg-cover bg-left from-indigo-900 to-indigo-700 p-8 md:px-20 md:py-20 mt-20 flex flex-col items-center"
>
  <h2 class="text-white text-4xl md:text-5xl tracking-tight">
    Ready to replace secrets with trusted identities?
  </h2>
  <p class="text-white/90 mt-4 text-center text-lg md:text-xl">
    Build with trust at the core.
  </p>
  <div class="flex mt-5 py-2">
    <Link href="/contact" style="inverted">Join the waitlist</Link>
  </div>
</div>
