---
import Link from "./ui/link.astro";
---

<div
  class="bg-[url('/bg.jpg')] bg-cover bg-left from-indigo-900 to-indigo-700 p-8 md:px-20 md:py-20 mt-20 flex flex-col items-left"
>
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    Seamless credential security
  </h2>
  <p class="text-white/90 mt-4 text-lg md:text-xl">
    Security teams should manage access - let Riptides solves the rest
  </p>
  <div class="flex mt-5">
    <Link href="/contact" style="inverted">Contact Us</Link>
  </div>
</div>
