---
import Container from "@components/container.astro";
import { Icon } from "astro-icon/components";

const { margin } = Astro.props;

const footermenu = {
  company: [
    {
      title: "About",
      path: "/about",
    },
    {
      title: "Blog",
      path: "/blog",
    },
    {
      title: "Contact",
      path: "/contact",
    },
  ],
  product: [
    {
      title: "Why Riptides",
      path: "/why",
    },
    {
      title: "Identity management",
      path: "/identity",
    },
    {
      title: "Discovery and posture",
      path: "/posture",
    },
    {
      title: "Secure communication",
      path: "/encryption",
    },
  ],
  resources: [
    {
      title: "Terms",
      path: "/terms",
    },
    {
      title: "Privacy",
      path: "/privacy",
    },
  ],
};
---

<footer
  class:list={["py-14 bg-black border-t border-black", margin && "mt-10"]}
>
  <Container>
    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
      <div class="sm:col-span-2 md:col-span-3 lg:col-span-2">
        <a href="/" class="text-lg flex items-center">
          <img src="/logo-white.png" alt="Riptides" style="width: 150px;" />
        </a>
        <p class="mt-4 text-sm text-white/80 max-w-xs">
          Riptides is a comprehensive solution for securing workload-to-workload
          communication, with identity as its foundation.
        </p>
        <div class="flex gap-3 mt-4 items-center">
          <a
            href="https://twitter.com/riptidesio"
            target="_blank"
            rel="noopener noreferrer"
            class="bg-slate-200 hover:bg-slate-300 rounded w-6 h-6 inline-flex items-center justify-center text-slate-500"
          >
            <Icon name="bx:bxl-twitter" class="w-4 h-4" />
            <span class="sr-only">Twitter</span></a
          >
          <a
            href="https://github.com/riptideslabs"
            target="_blank"
            rel="noopener noreferrer"
            class="bg-slate-200 hover:bg-slate-300 rounded w-6 h-6 inline-flex items-center justify-center text-slate-500"
          >
            <Icon name="bx:bxl-github" class="w-4 h-4" />
            <span class="sr-only">Github</span></a
          >
          <a
            href="https://www.linkedin.com/company/riptidesio/"
            target="_blank"
            rel="noopener noreferrer"
            class="bg-slate-200 hover:bg-slate-300 rounded w-6 h-6 inline-flex items-center justify-center text-slate-500"
          >
            <Icon name="bx:bxl-linkedin-square" class="w-4 h-4" /><span
              class="sr-only">Linkedin</span
            ></a
          >
        </div>
      </div>
      <div>
        <h3 class="font-medium text-sm text-white">Company</h3>
        <div class="flex flex-col mt-3">
          {
            footermenu.company.map((item) => (
              <a
                href={item.path || "#"}
                class="py-2 text-sm text-white/70 hover:text-white/90"
              >
                {item.title}
              </a>
            ))
          }
        </div>
      </div>
      <div>
        <h3 class="font-medium text-sm text-white">Platform</h3>
        <div class="flex flex-col mt-3">
          {
            footermenu.product.map((item) => (
              <a
                href={item.path || "#"}
                class="py-2 text-sm text-white/70 hover:text-white/90"
              >
                {item.title}
              </a>
            ))
          }
        </div>
      </div>
      <div>
        <h3 class="font-medium text-sm text-white">Legal</h3>
        <div class="flex flex-col mt-3">
          {
            footermenu.resources.map((item) => (
              <a
                href={item.path || "#"}
                class="py-2 text-sm text-white/70 hover:text-white/90"
              >
                {item.title}
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </Container>

  <div class="mt-14 pt-8 px-5">
    <Container>
      <p class="text-center text-sm text-white [text-wrap:balance]">
        Copyright © {new Date().getFullYear()} Riptides Labs. All rights reserved.
      </p>
    </Container>
  </div>
</footer>
