---
import Badge from "@components/ui/badge.astro";
import { Picture } from "astro:assets";
import IdentityImg1 from "../assets/identity/identity1.png";
import IdentityImg2 from "../assets/identity/identity1.png";
import { Icon } from "astro-icon/components";
import Link from "@components/ui/link.astro";
import HeroSmall from "@components/hero-small.astro";

const { nomargin } = Astro.props;
---

<HeroSmall nomargin="{nomargin}" />

<div class="grid md:grid-cols-2 py-10">
  <div class="grid place-items-center">
    <Picture
      src={IdentityImg1}
      alt="Identity Image"
      formats={["avif", "webp"]}
      loading="lazy"
    />
  </div>

  <div class="grid place-items-center">
    <div class="max-w-lg">
      <h3 class="text-2xl font-medium mt-4 [text-wrap:balance]">
        Services need trusted, unique identities - just like humans.
      </h3>
      <p class="mt-4 text-slate-600 [text-wrap:balance]">
        Riptides eliminates the security risks of developers and DevOps manually
        managing credentials by auto-assigning trusted identities to workloads.
      </p>

      <ul class="grid mt-6 text-left gap-y-4">
        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />

          <span class="text-sm"
            >A unique identifier is assigned to a service</span
          >
        </li>

        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />

          <span class="text-sm"
            >A cryptographically signed document functions as proof of identity</span
          >
        </li>

        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />

          <span class="text-sm"
            >Services authenticate using their trusted identity</span
          >
        </li>

        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />

          <span class="text-sm"
            >Verified identities are securely exchanged for a third-party
            credentials</span
          >
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="grid md:grid-cols-2 py-10">
  <div class="grid place-items-center pb-10 md:pb-0 md:order-2">
    <Picture
      src={IdentityImg2}
      alt="Feature Image"
      formats={["avif", "webp"]}
      loading="lazy"
    />
  </div>

  <div class="grid place-items-center">
    <div class="max-w-lg">
      <h3 class="text-2xl font-medium mt-4 [text-wrap:balance]">
        Seamless credential security
      </h3>
      <p class="mt-4 text-slate-600 [text-wrap:balance]">
        Riptides is a comprehensive solution for securing workload-to-workload
        communication, with identity as its foundation.
      </p>
      <ul class="grid mt-6 text-left gap-y-4">
        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />

          <span class="text-sm"
            >Centralized identity generation, rotation and revocation</span
          >
        </li>
        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />

          <span class="text-sm"
            >Managed identities with short-lived credentials</span
          >
        </li>
      </ul>
    </div>
  </div>
</div>
