---
import Badge from "@components/ui/badge.astro";
import { Picture } from "astro:assets";
import IdentityImg1 from "../assets/identity/half-solutions.png";
import IdentityImg2 from "../assets/identity/riptides.png";
import { Icon } from "astro-icon/components";
import Link from "@components/ui/link.astro";
import HeroSmall from "@components/hero-small.astro";

const { nomargin } = Astro.props;
---

<HeroSmall />

<div class="grid md:grid-cols-2 py-10">
  <div class="grid place-items-center">
    <Picture
      src={IdentityImg1}
      alt="Identity Image"
      formats={["avif", "webp"]}
      sizes="(max-width: 1024px) 100vw, 50vw"
      widths={[240, 540, 720, IdentityImg1.width]}
      loading="lazy"
    />
  </div>

  <div class="grid place-items-center">
    <div class="max-w-lg">
      <h3 class="text-2xl font-medium mt-4 [text-wrap:balance]">
        The Non-Human Identities ecoystem is fragmented.
      </h3>
      <p class="mt-4 text-slate-600 [text-wrap:balance]">
        Partial or incomplete solutions impose limitations on the current
        landscape, restricting progress, innovation, and the ability to address
        challenges effectively.
      </p>

      <ul class="grid mt-6 text-left gap-y-4">
        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />

          <span class="text-sm"
            >Modern IT infrastructure spans on-prem, VM, cloud- native, and
            SaaS.</span
          >
        </li>

        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />

          <span class="text-sm"
            >Non-human credentials are scattered across organizations.</span
          >
        </li>

        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />

          <span class="text-sm"
            >IAM solutions are designed for human users.</span>
        </li>

        
        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />

          <span class="text-sm"
            >AI agents lacks security, trusted agent identities are essential to prevent exploitation.</span
          >
        </li>

      </ul>
    </div>
  </div>
</div>

<div class="grid md:grid-cols-2 py-10">
  <div class="grid place-items-center pb-10 md:pb-0 md:order-2">
    <Picture
      src={IdentityImg2}
      alt="Feature Image"
      formats={["avif", "webp"]}
      loading="lazy"
    />
  </div>

  <div class="grid place-items-center">
    <div class="max-w-lg">
      <h3 class="text-2xl font-medium mt-4 [text-wrap:balance]">
        Seamless credential security
      </h3>
      <p class="mt-4 text-slate-600 [text-wrap:balance]">
        Riptides is a comprehensive solution for securing workload-to-workload
        communication, with identity as its foundation.
      </p>
      <ul class="grid mt-6 text-left gap-y-4">
        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />

          <span class="text-sm"
            >Centralized and automatic identity generation, rotation and revocation.</span
          >
        </li>
        
        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />

          <span class="text-sm"
            >Managed identities with short-lived TLS certificates.</span
          >
        </li>

        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />

          <span class="text-sm"
            >Supports authentication with SPIFFE workload identities.</span>
        </li>

      </ul>
    </div>
  </div>
</div>
