---
import Badge from "@components/ui/badge.astro";
import { Picture } from "astro:assets";
import PostureImg1 from "../assets/posture/active-monitoring.png";
import PostureImg2 from "../assets/posture/driverless-discovery.png";
import PostureImg3 from "../assets/posture/inventory-posture.png";
import { Icon } from "astro-icon/components";
import Link from "@components/ui/link.astro";
import HeroSmall from "@components/hero-small.astro";

const { nomargin } = Astro.props;
---

<HeroSmall nomargin="{nomargin}" />

<div class="grid md:grid-cols-2 py-10">
  <div class="grid place-items-center">
    <Picture
      src={PostureImg1}
      alt="Posture Image"
      formats={["avif", "webp"]}
      loading="lazy"
    />
  </div>

  <div class="grid place-items-center">
    <div class="max-w-lg">
      <h3 class="text-2xl font-medium mt-4 [text-wrap:balance]">
        Active Monitoring
      </h3>
      <p class="mt-4 text-slate-600 [text-wrap:balance]">
        Monitor network traficc to actively detect and inventory non-human
        credentials in transit, identifying risks such as shadow credentials and
        stale tokens in real time for an improved security posture.
      </p>

      <ul class="grid mt-6 text-left gap-y-4">
        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />

          <span class="text-sm">OpenTelemetry based connection traceing</span>
        </li>

        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />

          <span class="text-sm">Inventory of credentials in transit</span>
        </li>

        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />

          <span class="text-sm"
            >Verified identities are securely exchanged for a third-party
            credentials</span
          >
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="grid md:grid-cols-2 py-10">
  <div class="grid place-items-center pb-10 md:pb-0 md:order-2">
    <Picture
      src={PostureImg2}
      alt="Feature Image"
      formats={["avif", "webp"]}
      loading="lazy"
    />
  </div>

  <div class="grid place-items-center">
    <div class="max-w-lg">
      <h3 class="text-2xl font-medium mt-4 [text-wrap:balance]">
        Driverless Discovery
      </h3>
      <p class="mt-4 text-slate-600 [text-wrap:balance]">
        Integration with third-party providers to automatically inventory
        non-human credentials from existing systems. Driverless discovery
        complements active monitoring by continuously updating the credential
        inventory ensuring comprehensive visibility.
      </p>
      <ul class="grid mt-6 text-left gap-y-4">
        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />

          <span class="text-sm">Integration with 3d parties</span>
        </li>
        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />

          <span class="text-sm">360 degree visibility</span>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="grid md:grid-cols-2 py-10">
  <div class="grid place-items-center">
    <Picture
      src={PostureImg3}
      alt="Posture Image"
      formats={["avif", "webp"]}
      loading="lazy"
    />
  </div>

  <div class="grid place-items-center">
    <div class="max-w-lg">
      <h3 class="text-2xl font-medium mt-4 [text-wrap:balance]">
        Inventory & Posture
      </h3>
      <p class="mt-4 text-slate-600 [text-wrap:balance]">
        Centralized dashboard allows security teams to view and manage the full
        inventory of non-human credentials and connections, along with their
        associated risk posture. This helps assess and prioritize security
        risks, enabling faster remediation of issues.
      </p>

      <ul class="grid mt-6 text-left gap-y-4">
        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />

          <span class="text-sm">Centralized dashboard</span>
        </li>

        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />

          <span class="text-sm"
            >Full inventory of non-human credentials and connections</span
          >
        </li>

        <li class="flex items-center gap-3 text-neutral-800">
          <Icon name="ph:check-circle-fill" class="w-5 h-5" />

          <span class="text-sm">Services catalog and discovery integration</span
          >
        </li>
      </ul>
    </div>
  </div>
</div>
